{% extends "gol2.html" %}
{% block menu %}
                                <li><a href="{% url main-page %}" title="home">Нүүр хуудас</a></li>
                                <li><a href="{% url home-student %}" title="student">Оюутан</a></li>
				<li><a href="{% url home-teacher %}" title="teacher">Багш</a></li>
                                <li><a href="{% url home-nabi %}" title="teacher">Нарийн бичиг</a></li>
				<li><a href="{% url home-FAQ %}" title="FAQ" class = "current" >FAQ</a></li>
				<li><a href="{% url contact %}" title="contact">Холбоо барих</a></li>
                                <li><a href="{% url home-ex %}">Жишээ баримт</a></li>
{% endblock %} 
{% block menu2 %}
                                <li><a href="{% url main-page %}" title="home">Нүүр хуудас</a></li>
                                <li><a href="{% url home-student %}" title="student">Оюутан</a></li>
				<li><a href="{% url home-teacher %}" title="teacher">Багш</a></li>
                                <li><a href="{% url home-nabi %}" title="teacher">Нарийн бичиг</a></li>
				<li><a href="{% url home-FAQ %}" title="FAQ">FAQ</a></li>
				<li><a href="{% url contact %}" title="contact">Холбоо барих</a></li>

{% endblock %} 
{% block second-body %}
<form action="{% url home-FAQ %}" method="POST"> {% csrf_token %}
            	<h3>Сүүлд асуугдсан асуултууд болон хариултууд</h3>
           {% for a in aq %}
              <dl class="list3"><table>
              	<tr><td><dt>Асуулт: {{a.question}}</dt></td></tr>
                <tr><td><dd>Хариулт:{{a.answer}} </dd></td></tr>
</table>
         {%endfor%}
              </dl>
{% endblock %}
{% block first-body %}
                <h3>Асуултын жагсаалтууд</h3>
                <dl class="list2">
                	<dt>Хариулагдаагүй асуултууд</dt>
                  <dd>Илтгэлд юу юу багтаах ёстой вэ?.</dd> 
                  <dd>Илтгэлд юу юу багтаах ёстой вэ?</dd>
                  <dd>Илтгэлд юу юу багтаах ёстой вэ?</dd>
                  <dd>Илтгэлд юу юу багтаах ёстой вэ?</dd>
                  <dd>Илтгэлд юу юу багтаах ёстой вэ?</dd> 
                  <dd>Илтгэлд юу юу багтаах ёстой вэ?</dd>
                  <dd>Илтгэлд юу юу багтаах ёстой вэ?</dd>
                  <dd>Илтгэлд юу юу багтаах ёстой вэ?</dd>
                </dl>
                <a href="#" class="button">More</a>
              </div>
</form>

         
            	<h3>Асуулт асуух</h3>
              <p>Та асуултаа асууна уу?:</p>
                <form action="{% url home-FAQ %}" method="POST"> {% csrf_token %}
                  <div class="grid_7 omega">
                  	Асуултаа асуух:<br />
                    <textarea name = "question"></textarea>
                    <div class="wrapper">
                      <a href="#" class="button" >Илгээх</a><a href="#" class="button" >Clear</a>
                    </div>
                  </div>
              </form>
{% endblock %}
