{% extends "home1.html" %}
{% block main-body %}
Энэ бол нүүр хуудас
{% endblock %} 
{% block second-body %}
 <img src="/static/images/img11.gif" style="padding: 0px 17px 0px 0px; float:left;" alt="" />
                                  <h1 class="h1_home_box">Үзлэгийн хуваарь</h1>
                                    <div class="razd_h"></div>
                                    <div style="height:5px"></div>
                          <h4>Дараагын үзлэгийн хуваарь </h4>
                                      <table border="1" cellspacing="0" cellpadding="1" width="400">
<tbody>

        <tr>

            <th width="60" valign="top">Өдөр</th>
            <th width="10" valign="top">Цаг</th>
            <th width="10"  valign="top">Дүгнэх оноо</th>
            <th width="20" valign="top">Ажиллах комисс</th>
            <th width="10" valign="top">Өрөө</th>
            <th width="80" valign="top">Шаардлага</th>
        </tr>


        <tr>

            <td width="40" valign="top">2011-05-12</td>
            <td width="30" valign="center">15:00</td>
            <td width="30" valign="top">15</td>
            <td width="60" valign="top">Багийн бүх багш нар</td>
            <td width="30" valign="center">204</td>
            <td width="80" valign="top">Програм 100% бэлэн болсон байх</td>
        </tr>
</tbody>
                             
{% endblock %}
