{% extends "gol1.html" %}
{% block menu %}
                                <li><a href="{% url main-page %}" title="home" class = "current">Нүүр хуудас</a></li>
                                <li><a href="{% url home-student %}" title="student">Оюутан</a></li>
				<li><a href="{% url home-teacher %}" title="teacher">Багш</a></li>
                                <li><a href="{% url home-nabi %}" title="teacher">Нарийн бичиг</a></li>
				<li><a href="{% url home-FAQ %}" title="FAQ">FAQ</a></li>
				<li><a href="{% url contact %}" title="contact">Холбоо барих</a></li>
                                <li><a href="{% url home-ex %}">Жишээ баримт</a></li>
{% endblock %} 
{% block menu2 %}
                                <li><a href="{% url main-page %}" title="home">Нүүр хуудас</a></li>
                                <li><a href="{% url home-student %}" title="student">Оюутан</a></li>
				<li><a href="{% url home-teacher %}" title="teacher">Багш</a></li>
                                <li><a href="{% url home-nabi %}" title="teacher">Нарийн бичиг</a></li>
				<li><a href="{% url home-FAQ %}" title="FAQ">FAQ</a></li>
				<li><a href="{% url contact %}" title="contact">Холбоо барих</a></li>
{% endblock %}
{% block box %}
<form method="post" action="{% url django.contrib.auth.views.login %}">
    {% csrf_token %}
        <div class="prepend-9 span-6 append-9 last login-div">
            <table>
                <tr><td colspan="2">
                    {% if form.errors %}
                    <div class="error">Уучлаарай хэрэглэгчийн нэр, нууц үг буруу байна.</div>
                    {% endif %}
                    {% if next %}
                    <div class="error">Та дээрх үйлдлийг хийхийн тулд сайтанд нэвтэрч орно уу.</div>
                    {% endif %}
                </td></tr>
                <tr>
                    <td>Нэвтрэх нэр</td><td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>Нууц үг</td><td>{{ form.password }}</td>
                </tr>
            </table>
            <div class="span-6 last"><input type="submit" value="Нэвтрэх" />эсвэл <a href="{% url reg-student %}" class=""><b>бүртгүүлэх</b></a></div>
            <input type="hidden" name="next" value="{{ next }}"/>
        </div>
    </form>
{% endblock %}
