<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="/static/css/grid.css" type="text/css" media="all">
  <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all">
  

</head>

<body>
  <!-- header -->
  <header>
    <div class="header-bg">
      <div class="container_24">
      	<div class="display">
        </div>
        <nav>
          <ul>
          	<li><a href="{% url main-page %}">Нүүр</a></li>
            <li><a href="{% url home-student %}" class="current">Оюутан</a></li>
            <li><a href="{% url home-teacher %}">Багш</a></li>
            <li><a href="{% url home-FAQ %}">FAQ</a></li>
            <li><a href="{% url contact %}">Холбоо барих</a></li>
          </ul>
        </nav>
        <a href="#" class="main-banner"><img src="/static/images/1.jpg" alt=""></a>
      </div>
    </div>
  </header>
  <!-- content -->
  <section id="content">
       	<div class="container_24">
    	<div class="row">
      <div class="grid_6">
             <div class ="box">
             <h5>Үндсэн цэс</h5>
                        <div id="menu">
           	                <ul><b>
                              <li><a href="{% url sedev-student %}" class="">Сэдэв</a></li>
                              <li><a href="{% url yzhuv-student %}" class="">Үзлэгийн хуваарь</a></li>
                              <li><a href="#" class="">Үзлэгийн дүн</a></li>
                              <li><a href="{% url home-FAQ %}" class="">Асуулт, хариулт</a></li>
                            </ul></b>
                        </div> 
             </div>
      </div>
       	<div class="grid_16">
          	<div class="box">
            	<h3>Тавтай морилно уу,  <span>төгсөгч оюутнуудаа!</span></h3>
              <div class="wrapper">
              	<img src="/static/images/hatt.jpeg" alt="" class="img-indent">
                   <div class="art-Post">
                     <div class="art-Post-body">
                        <div class="art-Post-inner">
                           <div class="art-PostContent">
                              <form action="{% url reg-student %}" method="POST"> {% csrf_token %}
					 <table>
                     <tr><td>
                     <h4>Бүртгүүлэх</h4></td></tr>
                     <tr><td>        
                Оюутны овог:</td><td><input type="text" name="fname" /></td></tr>
                     <tr><td>
                Оюутны нэр: </td><td><input type="text" name="name" /></td></tr>
                     <tr><td>
                Ургийн овог: </td><td><input type="text" name="uovog" /></td></tr>
                     <tr><td>
                Оюутны код: </td><td><input type="text" name="code" /></td></tr>
                     <tr><td>
                Регистрийн дугаар:</td><td><input type="text" name="regnumber" /></td></tr>
                     <tr><td>
                Үнэмлэхний дугаар: </td><td><input type="text" name="ynumber" /></td></tr>
                     <tr><td>
                Утасны дугаар:</td><td><input type="text" name="phone" /></td></tr>
                     <tr><td>
                Цахим хаяг:</td><td> <input type="text" name="email" /></td></tr>
                     <tr><td>               
                Гэрийн хаяг: </td><td><input type="text" name="address" /></td></tr>
                     <tr><td>
                Нууц үг:</td><td><input type="password" name="password" /></td></tr>
                     <tr><td>
                Нууц үгээ давтана уу:</td><td><input type="password" name="password1" /></td></tr>
                     <tr><td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="art-button" type="submit" name="submit" value="Бүртгүүлэх"/></td></tr>

				</form>
            {% if error %}
            <div style="color:red">Кодтой хэрэглэгч бүртгэгдсэн байна</div>
            {% endif %}
               </div>
            </div>
          </div>
           
       	<div class="grid_8">

          </div>
        </div>
      </div>

  </section>
<!-- footer -->
  
  
  <script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
