/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

/* Global properties ======================================================== */
body { 
	background:#fff; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	line-height:1.0625em;
	color:#858484;
	}
html { min-width:980px;}
html, body { height:100%;}



/* Global Structure ============================================================= */
.container_24 {
	position: relative;
	font-size:.75em;
}

	/* Header */
	header{
		height:360px;
		overflow:hidden;
		background:url(../images/header-tail.gif) 0 0 repeat-x #fff;
		}
	
	/* Content */
	section#content {
		background:url(../images/content-tail.gif) 0 0 repeat-x #fff;
		padding-bottom:1px;
		}
	
	/* Sidebar */
	aside{
		
		}
			
	/* Footer */
	footer{
		background:url(../images/footer-tail.gif) 0 100% repeat-x #1079ac;
		padding:25px 0 25px 0;
		}

.container_25 {
	position: relative;
	font-size:.75em;
}

	/* Header */
	header{
		height:360px;
		overflow:hidden;
		background:url(../images/header-tail.gif) 0 0 repeat-x #fff;
		}
	
	/* Content */
	section#content {
		background:url(../images/content-tail.gif) 0 0 repeat-x #fff;
		padding-bottom:1px;
		}
	
	/* Sidebar */
	aside{
		
		}
			
	/* Footer */
	footer{
		background:url(../images/footer-tail.gif) 0 100% repeat-x #1079ac;
		padding:25px 0 25px 0;
		}



/* Left & Right alignment */

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper { 
	width:100%;
	overflow:hidden;
}

/*----- form defaults -----*/
input, select, textarea { 
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
	}

/*----- other -----*/
.img-indent { 
	margin:0 20px 0 0; 
	float:left;
	}
.img-box { 
	width:100%; 
	overflow:hidden; 
	padding-bottom:20px;
	}
	.img-box img { 
		float:left; 
		margin:0 20px 0 0;
		}

.extra-wrap { 
	overflow:hidden;
	}

p {margin-bottom:17px;}
.p1 { margin-bottom:8px;}
.p2 { margin-bottom:17px;}
.p3 { margin-bottom:26px;}

/*MENU*/
/*        V3        */

*{
	list-style:none;
	margin:0px;
	padding:0px;
}

	
#menu {
	width: 305px;
	border-style: solid solid none solid;
	/*border-size: 1px;*/
	/*border-width: 1px;*/

	}
	
#menu li a {
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	}	
	
#menu li a:link, #menu li a:visited {
	color: #0e69be;
	display: block;
	background: url(/static/images/P2.jpg);
	background-repeat:no-repeat;
	padding: 8px 0 0 10px;
	}
	
#menu li a:hover {
	color: #0e69be;
	background: url(/static/images/P2.jpg) 0 -32px;
	background-repeat:no-repeat;
	padding: 8px 0 0 10px;
	}
	
#menu li a:active {
	color: #0e69be;
	background: url(/static/images/P2.jpg) 0 -64px;
	background-repeat:no-repeat;
	padding: 8px 0 0 10px;
	}

/*----- txt, links, lines, titles -----*/
a {
	color:#f86314; 
	outline:none;
	}
a:hover{
	text-decoration:none;
	}

h2 {
	font-size:45px;
	line-height:1.2em;
	font-weight:normal;
	color:#30383a;
	letter-spacing:-2px;
	font-weight:700;
	margin-bottom:18px;
	}
	h2 span {
		font-size:32px;
		line-height:1.2em;
		font-weight:500;
		display:inline-block;
		position:relative;
		top:13px;
		}
h3 {
	font-size:25px;
	line-height:1.2em;
	font-weight:500;
	color:#30383a;
	background:url(../images/line-hor.gif) 0 100% repeat-x;
	padding:0 0 8px 0;
	margin-bottom:20px;
	}
h4 {
	font-size:15px;
	color:#454f51;
	margin-bottom:1.6em;
	}
	h4.alt {
		padding-top:10px;
		}

h14 {
	font-size:14px;
	color:#454f51;
	margin-bottom:1.6em;
	}
	h14.alt {
		padding-top:10px;
		}

h5 {
    font-size:18px;
	line-height:1.2em;
	font-weight:500;
	color:#30383a;
	background:url(../images/line-hor.gif) 0 100% repeat-x;
	padding:0 0 8px 0;
	margin-bottom:10px;
	}
h6 {
	font-size:15px;
	line-height:1.2em;
	color:#454f51;
	background:url(../images/line-hor.gif) 0 100% repeat-x;
	padding:0 0 8px 0;
	margin-bottom:1.6em;
    	h6.alt {
		padding-top:10px;
		}
	}
	

.button { 
	display:inline-block;
	width:200px;
	height:25px;
	line-height:37px;
	font-size:12px;
/*	background:url(../images/button.png) no-repeat 0 0;*/
	color:#151B54;
	text-decoration:none;
/*	text-align:center;*/
}


/* Boxes */
.box {
	background:#eaedf0;
	border:1px solid #c4c4c3;
	padding:2px 2px 3px 2px;
	position:relative;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	behavior:url(js/PIE.htc);
}

.box1 {
	background:#eaedf0;
	border:1px solid #c4c4c3;
	padding:2px 2px 3px 2px;
	position:relative;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	behavior:url(js/PIE.htc);
}


.address { 
	float:left;
	padding-bottom:3px;
}
	.address dt {
		margin-bottom:17px;
	}
	.address dt:first-line {
		font-weight:bold;
		color:#454f51;
		font-size:13px;
		}
	.address dd { 
		clear:both;
	}
		.address dd span { 
			float:left;
			width:77px;
		}

.home_box {
	float: left;
	width: 300px; }



#cont_razd{
	background: #FFffff
	width: 80%;
}
.razd_h { background: #FFffff;
			height: 1px;
			clear: both; }
 H1{
	font-family: Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight: 100;
	color: #25587E;
	text-align: left;
	padding: 0px 0px 0px 0px;
}

.h1_home_box {
	padding: 10px 0px 0px 0px;}

/* Header
---------------------------------------- */

.header-bg {
	background:url(../images/header-bg.jpg) no-repeat 50% 0;
	height:509px;
	}

/* Logo */
.logo {
	position:absolute;
	left:9px;
	top:27px;
	}

/* Navigation */
header nav {
	position:absolute;
	right:0;
	top:93px;
	}
	header nav ul li {
		float:left;
		}
		header nav li a {
			float:left;
			padding:12px 21px 18px 21px;
			font-size:16px;
			line-height:1.2em;
			color:#fff;
			text-decoration:none;
			text-shadow:1px 1px 0 #004376;
			position:relative;
			}
		header nav li a.current {
			background:#006195;
			border-radius:7px;
			-moz-border-radius:7px;
			-webkit-border-radius:7px;
			behavior:url(js/PIE.htc);
			}
			
/* RSS */
a.rss {
	display:block;
	position:absolute;
	right:8px;
	top:36px;
	color:#014568;
	background:url(../images/icon-rss.png) no-repeat 100% 0;
	padding:4px 54px 10px 0;
	font-size:1.1em;
	}
a.rss:hover {
	color:#fff;
	}

/* Main banner */
.main-banner {
	display:block;
	position:absolute;
	left:9px;
	top:153px;
	}





/* Content
---------------------------------------- */
#content {
	
}
	.inside {
		padding:0 0 0 1px;
		}
		.inside .inside {
			padding:1px 0 0 0;
			}
	.row {
		padding-bottom:1px;
		}

/* List */
.list1 li {
	background:url(../images/marker1.gif) no-repeat 0 5px;
	padding:0 0 0 25px;
	line-height:24px;
	font-size:13px;
	}


.list2 dt {
	font-weight:bold;
	font-size:13px;
	color:#454f51;
	}
.list2 dd {
	border-bottom:1px dashed #e1e5e6;
	padding:0 0 10px 0;
	margin-bottom:11px;
	}
.list2 dd:last-child {
	border-bottom:none;
	}


.list3 dt {
	font-weight:bold;
	font-size:13px;
	color:#454f51;
	}
.list3 dd {
	margin-bottom:17px;
	}
.list3 dd:last-child {
	margin-bottom:0;
	}




/* Footer
---------------------------------------- */
footer {
	color:#2792c5;
	}
footer a {
	text-decoration:none;
	color:#2792c5;
	}
footer a:hover {
	text-decoration:underline;
	}
	

/* Copy */
footer .copy {
	float:left;
}
	footer .copy a {
		color:#fff;
		}

/* Footer navigation */
footer nav {
	float:right;
	}
	footer nav li {
		display:inline;
		border-left:1px solid #0e74a6;
		padding:0 8px 0 11px;
		}
	footer nav li:first-child {
		border:none;
		}
		footer nav li a:hover,
		footer nav li a.current {
			color:#fff;
			text-decoration:none;
			}


/*----- forms -----*/
#contacts-form fieldset {
	border:none;
	width:100%;
	overflow:hidden;
	display:block;
	color:#373732;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
}
	#contacts-form label {
		display:block;
		height:58px;
		overflow:hidden;
	}
		#contacts-form input {
			color:#111;
			border:1px solid #a09b96;
			background:#fff;
			padding:3px 0 3px 5px;
			width:170px;
		}
		#contacts-form textarea {
			color:#111;
			border:1px solid #a09b96;
			background:#fff;
			padding:3px 0 3px 5px;
			width:260px;
			overflow:auto;
			height:128px;
			margin-bottom:18px;
		}
		#contacts-form .button {
			float:right;
			margin-left:14px;
		}

/*==========================================*/
