{% extends 'gol1.html' %}
{% block menu2 %} 
              <li><a href="{% url addtopic-teacher %}" class="">Сэдэв</a></li>
              <li><a href="{% url student-teacher %}" class="">Оюутан</a></li>
              <li><a href="{% url adduzleg-teacher %}" class="">Үзлэг</a></li>
              <li><a href="{% url news-teacher %}" class="">Мэдээ илгээх</a></li>
              <li><a href="{% url home-FAQ %}" class="">Асуулт, хариулт</a></li>
{% endblock %}
{% block menu %}
                                <li><a href="{% url main-page %}" title="home">Нүүр хуудас</a></li>
                                <li><a href="{% url home-student %}" title="student">Оюутан</a></li>
				<li><a href="{% url home-teacher %}" title="teacher" class = "current">Багш</a></li>
                                <li><a href="{% url home-nabi %}" title="teacher">Нарийн бичиг</a></li>
				<li><a href="{% url home-FAQ %}" title="FAQ">FAQ</a></li>
				<li><a href="{% url contact %}" title="contact">Холбоо барих</a></li>
                                <li><a href="{% url home-ex %}">Жишээ баримт</a></li>
{% endblock %}
{% block box %}

Үзлэгийн дүнг энд оруулна
{% endblock %}
